@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
}

/* header */

.page-header {
  font-size: 20px;
  line-height: 24px;
}

.logo {
  margin-right: 40px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation-list {
  list-style-type: none;
  width: 420px;
  margin: 0;
  padding: 0;
}

.controls-list {
  list-style-type: none;
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.button {
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

/*main*/

.hero {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/background-main-footer.svg"),
    url("../images/main-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

.hero-background-welcome {
  width: 188px;
  height: 45px;
  background-image: url("../images/welcome.svg");
  background-repeat: no-repeat;

  margin: 0 auto;
}

.hero-background-gorgeous {
  display: block;
  margin: 0 auto;
}

.hero-background-sedona {
  display: block;
  margin: 0 auto;
}

.advantages {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-item {
  width: 400px;
}

.wide-element {
  width: 800px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.advatages-description {
  line-height: 21px;
  text-align: center;
  color: #333;
}

.advantages-image1 {
  background-image: url("../images/bg-advantages1.jpg");
  width: 800px;
  height: 384px;
}

.advantages-image2 {
  background-image: url("../images/bg-advantages2.jpg");
  width: 800px;
  height: 384px;
}

.color-change {
  background-color: rgba(131, 179, 211, 0.2);
}

.white-text {
  color: #fff;
  background-color: #82b3d3;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.subscription {
  background-image: url("../images/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
  width: 1200px;
  height: 415px;
  margin: 0 auto;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

/* catalog-page */

.inner-catalog {
  background-color: #82b3d3;
  background-image: url("../images/catalog-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1200px;
  height: 412px;
}

.inner-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #fff;
}

.breadcrumbs-item,
.catalog-filter-title,
.control {
  color: #fff;
}

.inner-hotels {
  padding: 0 70px;
  margin: 0 auto;
}

.control-select {
  margin-right: 70px;
}

.sorting-icons-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inner-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
  width: 369px;
}

.sorting-container {
  display: flex;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}

.catalog-filter-group:last-child {
  width: 550px;
  margin-right: 0;
}

.hotels-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.hotels-item {
  width: 340px;
  margin-right: 20px;
}

.hotels-item:nth-child(3n) {
  margin-right: 0;
}

.hotels-type,
.hotels-price {
  line-height: 21px;
}

.button-blue {
  background-color: #82b3d3;
  color: #fff;
}

.pagination-list {
  list-style-type: none;
}

.pagination-item {
  background-color: #82b3d3;
}

.pagination-link {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.catalog {
  background-image: none;
  background-color: #fff;
}

.black-text {
  color: #000;
}

/* page-footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-socials-list {
  list-style-type: none;
}

.button-vk {
  background-color: #fff;
  background-image: url("../images/socials/vk-icon.svg");
  background-repeat: no-repeat;
}

.button-telegram {
  background-color: #fff;
  background-image: url("../images/socials/tg-icon.svg");
  background-repeat: no-repeat;
}

.button-youtube {
  background-color: #fff;
  background-image: url("../images/socials/youtube-icon.svg");
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
