@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-white-03: rgba(255, 255, 255, 0.3);
  --color-black: #000;
  --color-brown: #756157;
  --color-black-33: #333;
  --color-lightblue: #82b3d3;
  --color-lightblue-68: #68a2ca;
  --color-graylight: #e6e6e6;
  --color-lightblue-12: rgba(131, 179, 211, 0.12);
  --color-lightblue-20: rgba(131, 179, 211, 0.2);
  --color-lightgrey-03: rgba(104, 162, 202, 0.3);
  --color-darkgrey-03: rgba(117, 97, 87, 0.3);
  --color-darkblue: #3f5e72;
  --color-lightgreen: #7db54f;
  --color-white-f2: #f2f2f2;
  --color-white-242: rgba(242, 242, 242, 0.8);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 5px 1px var(--color-graylight);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-title {
  margin: 0;
}

.reset-paragraph {
  margin: 0;
}

.reset-input {
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
  flex-grow: 1;
}
/* header */

.page-header {
  font-size: 20px;
  line-height: 24px;
}

.navigation {
  display: flex;
  padding: 0 70px;
  min-height: 64px;
}

.logo {
  position: absolute;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 186px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 440px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.7;
}

.navigation-item {
  position: relative;
}

.navigation-link-current:after {
  content: "";
  position: absolute;
  top: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 2px;
  background-color: var(--color-brown);
}

.controls-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.controls-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
}

.controls-icon {
  width: 20px;
  height: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -10px;
  margin: auto;
  fill: var(--color-black);
}

.navigation-icon-favourite {
  position: absolute;
  top: 11px;
  left: 3px;
  fill: var(--color-black);
}

.button {
  background-color: var(--color-brown);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black-33);
}

/*main*/

.hero {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/background-main-footer.svg"),
    url("../images/main-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center calc(100% + 0.5px), center;
  background-color: #ccc;
}

.hero-container {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-background-gorgeous {
  display: block;
  margin-bottom: 54px;
}

.description {
  padding-top: 69px;
  padding-bottom: 90px;
}

.description-title {
  margin-bottom: 25px;
}

.advantages {
  background-color: var(--color-lightblue-12);
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  width: 400px;
  padding: 103px 85px 121px 85px;
  box-sizing: border-box;
  position: relative;
}

.secondary-list .advantages-item {
  padding: 182px 85px 81px;
}

.secondary-list .advantages-title {
  margin-bottom: 30px;
}

.advantages-item:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 80px;
  left: 50%;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
}

.advantages-item-house:after {
  background-image: url("../images/house.svg");
}

.advantages-item-food:after {
  background-image: url("../images/food.svg");
}

.advantages-item-gift:after {
  background-image: url("../images/gift.svg");
}

.advantages-item-colored {
  background-color: var(--color-white);
}

.advantages-item-smaller {
  padding: 92px 85px 111px 85px;
}

.wide-element {
  padding: 0;
  grid-column: span 2;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.advatages-description {
  line-height: 21px;
  text-align: center;
  color: var(--color-black-33);
}

.advantages-image {
  display: block;
}

.color-change {
  background-color: var(--color-lightblue-20);
}

.colored-text {
  color: var(--color-white);
  background-color: var(--color-lightblue);
}

.interested {
  padding: 96px 0;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black-33);
  margin: 0;
  margin-bottom: 54px;
}

.interested-search {
  margin: 0 auto;
  padding: 8px 50px;
  font: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  display: block;
  width: fit-content;
}

.subscription {
  background-image: url("../images/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-lightblue);
  padding-top: 96px;
  padding-bottom: 104px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog {
  background-image: none;
  background-color: var(--color-white);
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 54px;
}

.subscription-form {
  text-align: center;
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.field {
  padding: 14px 20px;
  margin: 0;
  font: inherit;
  flex-grow: 1;
}

.field:hover,
.filed:focus {
  opacity: 0.9;
}

.field:focus-visible {
  outline: none;
}

.field:disabled,
.field:disabled:hover {
  opacity: 0.5;
}

.subscribe-button {
  background-color: var(--color-lightblue);
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--color-lightblue-68);
}

/* catalog-page */

.inner-catalog {
  background-color: var(--color-lightblue);
  background-image: url("../images/catalog-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  color: var(--color-white);
}

.inner-catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 8px;
}

.breadcrumbs-list {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.breadcrumbs-item {
  color: var(--color-white);
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  color: var(--color-white);
}

.breadcrumbs-item:first-child {
  background-image: url(../images/breadcrumbs-icon.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: relative;
}

.breadcrumbs-item:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 23px;
  margin-top: -5px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  padding-top: 32px;
  border: none;
}

.sorting-icons-btn {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  border-radius: 4px;
}

.sorting-icons-item:hover,
.sorting-icons-item:active {
  outline: 2px solid var(--color-black);
  border-radius: 4px;
}
.current-icon {
  outline: 2px solid var(--color-black);
}

.sorting-icons-tile {
  background-image: url("../images/display-catalog/tile-icon.svg");
}

.sorting-icons-largeicon {
  background-image: url("../images/display-catalog/large-icon.svg");
}

.sorting-icons-listed {
  background-image: url("../images/display-catalog/list-icon.svg");
}

.inner-hotels {
  padding: 50px 70px 0 70px;
  margin: 0 auto;
}

.inner-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
}

.sorting-icons-list {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
}

.hotels-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-stars {
  height: 18px;
  background: url("../images/star.svg") -4px 0 / 24px 15px repeat-x;
}

.two-stars {
  width: 42px;
}

.four-stars {
  width: 96px;
}

.filter-container {
  display: flex;
  column-gap: 138px;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  gap: 70px;
}

.checkbox-group {
  width: 151px;
}

.radio-group {
  width: 151px;
}

.input-range-group {
  width: 550px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.filter-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 3px;
  grid-template-areas:
    "minprice maxprice"
    "range range";
}

.control-select {
  box-sizing: border-box;
  padding: 14px 100px 14px 20px;
  margin: 0;
  font: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  color: #333;
  line-height: 21px;
  background-image: url("../images/arrow-down.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  appearance: none;
  margin-right: 70px;
  font-size: 18px;
}

.control-minprice {
  grid-area: minprice;
}

.control-maxprice {
  grid-area: maxprice;
}

.range-scale {
  grid-area: range;
  position: relative;
  height: 4px;
  background-color: var(--color-white-03);
  width: 100%;
  border-radius: 2px;
  top: 20px;
}

.filter-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-filter-title {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input[type="text"] {
  height: 46px;
  box-sizing: border-box;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.control-input[type="submit"],
.control-input[type="reset"] {
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.control-input[type="text"]:focus {
  outline: 3px solid var(--color-lightblue);
}
.control-input[type="text"]:active {
  outline: 2px solid var(--color-black);
}

.control-reset {
  background-color: transparent;
  color: var(--color-white);
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.control-input[type="text"]::placeholder {
  transform: translateX(80%);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-white);
  width: 206px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.range-toggle:hover {
  background-color: var(--color-lightblue);
}

.range-toggle:active,
.range-toggle:focus {
  background-color: var(--color-lightblue-68);
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-white);
  z-index: 1;
}

.control-input:focus + .control-mark {
  outline: 2px solid var(--color-black);
}

.control-label {
  font: inherit;
  line-height: 23px;
}

.control-caption {
  position: relative;
  padding-left: 36px;
  display: block;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  content: "";
  top: 5px;
  left: 4px;
}

.control-caption:hover,
.control-caption:active {
  opacity: 0.3;
}

.control-input:focus .control-caption {
  border: 1px solid red;
}

.control-input:disabled + .control-mark {
  background-color: var(--color-black);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-darkblue);
  border-radius: 50%;
  content: "";
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-graylight);
}

.hotels-item {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--color-graylight);
}

.hotels-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotels-item-image {
  margin-bottom: 16px;
  object-fit: contain;
}

.hotels-type {
  line-height: 21px;
}

.hotels-price {
  line-height: 21px;
}

.hotels-button {
  background-color: var(--color-lightblue);
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
}

.product-button {
  font: inherit;
  background-color: var(--color-brown);
  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 26px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.favorites {
  background-color: var(--color-lightgreen);
  padding: 8px 18px;
}

.hotels-rating {
  background-color: var(--color-white-f2);
  padding: 8px 22px;
}

.button-blue,
.control-reset {
  background-color: var(--color-lightblue);
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--color-lightblue-68);
}

.control-reset:hover,
.control-reset:focus {
  opacity: 0.5;
}

.control-reset {
  background-color: transparent;
}

.input-email {
  background-color: #f2f2f2;
}

.input-email:hover {
  opacity: 0.7;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.pagination-item {
  background-color: var(--color-lightblue);
}

.pagination-item-current {
  background-color: var(--color-white-f2);
}

.pagination-item-current .pagination-link {
  color: var(--color-black);
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-dots {
  background-color: #ffffff;
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--color-lightblue-68);
}

.pagination-link:active {
  opacity: 0.3;
}
.pagination-item:active {
  background-color: var(--color-lightblue);
}

.pagination-item-current:hover {
  background-color: var(--color-white-f2);
}

.black-text {
  color: var(--color-black);
}

/* page-footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 81px;
  align-items: center;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  gap: 26px;
}

.button-socials {
  background-color: var(--color-white);
  background-repeat: no-repeat;
  display: block;
}

.socials-icon {
  fill: var(--color-lightblue);
}

.socials-icon:hover path {
  fill: var(--color-lightblue-68);
}

.socials-icon:active path {
  fill: var(--color-lightgrey-03);
}

.button-socials:focus .socials-icon {
  fill: var(--color-lightblue-68);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: var(--color-brown);
}

.footer-contacts-phone:active {
  color: var(--color-darkgrey-03);
}

.htmlacademy-logo {
  fill: var(--color-black);
}

.htmlacademy-logo:hover path {
  fill: var(--color-brown);
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill: var(--color-brown);
}

.htmlacademy-logo:active path {
  fill: var(--color-darkgrey-03);
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px 64px;
  background-color: var(--color-white);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: -14px;
  width: 52px;
  height: 52px;
  background-color: var(--color-white-f2);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:before,
.modal-close-button:after {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  left: 20px;
  top: 25px;
  background-color: var(--color-black);
}

.modal-close-button:before {
  transform: rotate(45deg);
}

.modal-close-button:after {
  transform: rotate(-45deg);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form-label {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-input {
  padding: 12px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--color-white-f2);
  width: 110px;
  box-sizing: border-box;
}

.modal-input-date {
  border: none;
  flex-grow: 1;
  position: relative;
  background-image: url("..//images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.modal-input-date:focus {
  background-image: none;
}

.modal-content {
  position: relative;
}

.form-row {
  position: relative;
  display: flex;
  gap: 20px;
  flex-grow: 1;
  align-items: center;
}

.form-label {
  min-width: 103px;
}

.message {
  position: absolute;
  bottom: -25px;
  left: 155px;
  color: rgba(51, 51, 51, 1);
}

.error-message {
  color: rgba(255, 87, 87, 1);
}

/* .modal-container-close {
  display: none;
} */
